body {
  margin: 0;
  padding: 0;
}
html{
  margin: 0px;
  background-color:white;
  color:black;
  min-height: 100dvh;
  font-family: Arial, sans-serif;
}
main{
  padding: 0 10px;
}
aside{
  position: fixed;
  top: 0;
  background-color: #555555;
  border-radius: 0 15px 15px 0;
  z-index: 9997;
  height: 100%;
  display: none;
  color: white;
}
#horloge h2{
  margin: 40px 0 0 0;
}
#horloge p {
  font-size: 30px;
  margin-left: 50px;
}
nav ul{
  margin: 40px 35px 10px 0;
}
ul li{
  margin-bottom: 10px;
}
nav ul li a{
  color: white;
}
#version{
  position: fixed;
  bottom: 30px;
  left: 70px
}

#screenSize{
  position: fixed;
  display: none;
  color: red;
}
#oups{
    color:rgb(79, 79, 79);
  }
#upbar{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 77px;
  background-color: #666666;
  border-radius: 0 0 15px 15px;
}
#upbar #title{
  color: #d8d8d8;
  position: fixed;
  margin: ;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
}
#title a{
  color: #c8c8c8;
}
#menu {
  position: fixed;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 25px 0 0 15px;
  z-index: 9999;
}
#imgMenu {
  width: 100%;
  height: 100%;
}
#divIcon {
  height: 40px;
  width: 40px;
  border-radius: 45%;
  background-color: white;
  margin: 10px 0 0 10px;
  position: fixed;
  top: 5px;
  right: 20px;
}
#icon {
  width: 90%;
  height: 90%;
  padding: 2px 0 0 2px;
}
h1, h2, #text1, #text2, #text3{
  text-align:center;
}
h1{
  margin: 30px 0 30px 0;
  padding: 10px 8px 0px 8px;
  font-size: 24px;
}
#title h1{
  margin: 20px;
}
main{
  margin: 90px 0 0 0;
}
#text1, #text2, #text3{
  background-color: #666666;
  color: white;
  border-radius: 10px;
  padding: 0 0 5px 0;
  margin: 0 auto;
  max-width: 1000px;
}

.date{
  max-width: 1000px;
  margin: 20px auto 5px;
}
p {
  padding: 10px 5px 0 5px;
  margin: 20px 10px 5px 5px;
}
li {
  margin: 0 0 2px 0;
}
#credits{
  margin: 0 0 110px 0;
}
footer {
  font-size: 10px;
  color: white;
  border-radius: 15px 15px 0 0;
  background-color: #666666;
  padding: 0px 5px 5px 0;
  margin: 20px 0 0 0;
  text-align: center;
}
#link{
  color: rgb(150,150,255);
  }
#credits p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#credits ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 40px;
  list-style-type: disc;
}
#credits li {
  margin: 0;
  padding: 0;
}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
}
footer p{
  margin: 10px 0;
  padding: 0;
}
@media (max-width: 315px) {
  #upbar #title {
    transform: translateX(0);
    left: -5px;
  }
  #divIcon {
    display: none;
  }
  #Icon {
    display: none;
  }
}
@media (max-width: 260px) {
  #upbar #menu {
    display: none;
  }
  #upbar #title {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 239px) {
  body > * {
    display: none;
  }
  #screenSize{
    display: block;
    top: 200px;
    text-align: center;
    margin: 0 5px;
    font-size: 12px
  }
  #oups{
    font-size: 15px;
  }
}
